    .btn-indigo {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border-color: rgba(156, 156, 156, 0.2);
        width: 160px;
        margin: 0px !important;
    }


    .btn-check:checked+.btn {
        background-color: #4F46E5;
        color: white;
        border-color: #4F46E5;
    }

    .btn-check+.btn:hover {
        background-color: #4F46E5;
        color: white;
        border-color: #4F46E5;

    }

    .payment-btn {
        /* width: 300px; */
        /* padding: 0px !important;
        margin: 0px !important; */
        height: 30px;
    }

    .backsale-btn {
        /* width: 200px;
        padding: 0px !important;
        margin: 0px !important; */
        height: 30px;
        background-color: white;
        border: 1px solid grey;
    }

    .table-payment {
        width: 100%;
        border: 1px solid rgba(128, 128, 128, 0.2);
        font-size: 12px;
        color: rgba(3, 3, 3, 0.548);
    }

    .table-payment thead {
     
        border-bottom: 1px solid rgba(128, 128, 128, 0.2);
        padding: 5px 10px;
        
    }
    .table-payment td {
        
        border-bottom:  1px solid rgba(128, 128, 128, 0.2);
        padding: 5px 10px;
    }
    .table-payment th {
         padding: 5px 10px;
    }

    .amount {
        border: 1px solid rgba(128, 128, 128, 0.384);
    }
    .trs_detail{
         font-size: 13px;
        color: rgba(3, 3, 3, 0.548);

    }